<header ng-bind="ngDialogData.title" translate="N003073">贡献度复制</header>
<section>
    <form class="form-default">
         <div style="margin:0px;" class="row-fluid">
             <div class="span12">
                 <div class="controls">
                     <label>{{vm.title}}</label>
                 </div><!--将{{ngDialogData.target.vcTargetName}}标的{{ngDialogData.effectiveDate}}版本的贡献度数据复制到以下标的：-->
             </div>
         	<div class="span6" style="display: none" >
             	<div class="controls" style="display: flex;flex-wrap: wrap;">
              		<a ng-if="1==2" ng-repeat="target in vm.customSelectedTargets" ng-click="vm.removeTarget(target, $index)" class="badge icon-remove">{{target.vcTargetName}}</a>
             	</div>
             </div>
         </div>
    </form>
    
    <div class="row-fluid flex">
        <div class="main-panel hundredTable">
            <table class="table table-hover table-bordered"
             fx-table 
             st-pipe="vm.query"
             st-table="vm.targets">
                <thead>
                <tr>
                    <th style="width: 64px;"></th>
                    <th translate="N000143">标的名称</th>
                    <th translate="N000138">标的代码</th>
                    <th translate="N003085">贡献度版本日期</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-click="vm.toggleSelectTarget(data)"
		        	st-select-row="data"
		            st-select-mode="{{::ngDialogData.selectionMode}}"
		            ng-repeat="data in vm.targets" >
		            <td>
		                <input name="redio" type="radio" class="fx-radio"
		                       ng-checked="data.isSelected"
		                       ng-if="ngDialogData.selectionMode == 'single'" />
		                <input type="checkbox" class="fx-checkbox"
		                       ng-checked="data.isSelected"
		                       ng-if="ngDialogData.selectionMode == 'multiple'" />
		            </td>
                    <td class="ellipsis" title="{{data.vcTargetName}}" ng-bind-html="data.vcTargetName"></td>
                    <td class="ellipsis" title="{{data.vcTargetCode}}" ng-bind-html="data.vcTargetCode"></td>
                    <td class="ellipsis" title="{{data.effectiveDate}}" ng-bind-html="data.effectiveDate"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<footer>
    <a class="btn" ng-click="closeThisDialog()">{{::ngDialogData.cancelText}}</a>
    <a class="btn btn-primary"
       ng-click="vm.ok()"
       ng-disabled="!$$selectedRows.length">{{::ngDialogData.okText}}</a>
</footer>

