<header style="line-height: 1;" ng-bind="ngDialogData.title"></header>
<section>
    <div class="row-fluid flex">
        <div class="main-panel hundredTable">
	    <table class="table table-hover table-bordered main-table"
	    	   st-table="vm.users"
	    	   st-pipe="vm.searchUserByName"
	           fx-table="dialog.users">
	        <thead>
	        <tr>
	            <th style="width: 64px;"></th>
	            <th translate="N000254">出资实体</th>
	            <th translate="N000705">交易类型</th>
	            <th translate="N000706">交易日期</th>
	            <th translate="N000110">币种</th>
	            <th translate="N000738">金额</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr ng-click="vm.toggleSelectUser(data)"
	        	st-select-row="data"
	            st-select-mode="{{::ngDialogData.selectionMode}}"
	            ng-repeat="data in vm.users" >
	            <td>
	                <input type="radio" 
	                	   class="fx-radio"
	                	   name="redio"
	                       ng-checked="data.isSelected"
	                       ng-if="ngDialogData.selectionMode == 'single'" />
	                <input type="checkbox" class="fx-checkbox"
	                       ng-checked="data.isSelected"
	                       ng-if="ngDialogData.selectionMode == 'multiple'" />
	            </td>
	            <td class="ellipsis" title="{{data.czst}}" ng-bind-html="data.czst"></td>
	            <td class="ellipsis" title="{{data.jylxValue}}" ng-bind-html="data.jylxValue"></td>
	            <td class="ellipsis" title="{{data.jyrq | mFormat:'YYYY-MM-DD'}}">{{data.jyrq | mFormat:'YYYY-MM-DD'}}</td>
	            <td class="ellipsis" title="{{data.bz}}" ng-bind-html="data.bz"></td>
	            <td class="ellipsis" title="{{data.ybje}}" ng-bind-html="data.ybje"></td>
	        </tr>
	        </tbody>
	    </table>
	    </div>
	    </div>
</section>
<footer>
	<!-- 分页控件 -->
	<div style="float:left;">
		<div fx-pagination></div>
	</div>
    <a class="btn" ng-click="vm.cancel()">{{::ngDialogData.cancelText}}</a>
    <a class="btn btn-primary"
       ng-click="vm.ok()"
       ng-disabled="!$$selectedRows.length">{{::ngDialogData.okText}}</a>
</footer>
