.projectsEncy {
    overflow: hidden;
    background-color: #FFFFFF;
}

.projectsEncy a {
    color: #28b779;
}

.projectsEncy > li {
    overflow: hidden;
}

.projectsEncy label.title {
    float: left;
    margin-right: 10px;
    min-width: 110px;
    font-weight: 500;
    color:#999;
}

label.titleDetail{
    float: left;
    margin-right: 10px;
    min-width: 110px;
    font-weight: 500;
    color:#999;
}

.projectsEncy label.title:after {
    /*content: "："*/
}
.projectsEncy .details {
    overflow: hidden;
    height: 48px;
    line-height: 24px;
    text-overflow: ellipsis;
    text-indent: 2em;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.projectsEncy .detail {
    text-indent: 2em;
    line-height: 24px;
    height:auto;
}

.projectsEncy .widget-content {
    overflow: hidden;
}

.projectsEncy-box {
    float: left;
    margin-right: 10px;
}
.projectsEncy-box h3 {
    color: #fff;
    margin: 0;
    font-size: 14px;
    padding: 0 10px;
    height: 22px;
    line-height: 22px;
    font-weight: 400;
}
.projectsEncy-box p {
    margin: 0;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
}

.projectsEncy-box.state {
    border: 1px solid #0099FF;
}
.projectsEncy-box.state h3{
    background: #0099FF;
}
.projectsEncy-box.state p{
    color: #0099FF;
    border: 1px solid #B7E8FF;
}
.projectsEncy-box.process {
    border: 1px solid #32CD99;
}
.projectsEncy-box.process h3{
    background: #32CD99;
}
.projectsEncy-box.process p{
    color: #32CD99;
    border: 1px solid #CCF2E5;
}

.info-box .widget-content {
    text-align: center;
}

.info-box .widget-content img.person{
    margin: 0 auto;
}
.projectsEncy.widget-content-button {
    padding: 15px;
    border-bottom: 1px solid #cdcdcd;
}


.projectsEncy .widget-content .widget-title{
    border-bottom:0px solid #CDCDCD;
    background:transparent;
}



.projectCash {
    margin-top: -42px;
    text-align: right;
    margin-right: 7px;
    opacity: 0;
}

.projectCash a:hover {
    color:#fff;
}

.projectCash:hover{
    opacity: 1;
    transition: opacity 1s;
}