.fosun-container .fosun-search .fosun-pagination {
    flex: 1 0 100%; order: 999;
}

.fosun-container .fosun-search .fosun-pagination input {
    margin: 0; width: 52px;
    height: 28px;
    line-height: 28px;
}

.ngdialog-content .fosun-pagination  input[type="number"] {
    margin: 0; width: 60px;
    height: 28px;
    line-height: 28px;
}