.embed-responsive {
    position:relative;
    display:block;
    height:0;
    padding:0;
    overflow:hidden
}
.embed-responsive .embed-responsive-item,.embed-responsive iframe,.embed-responsive embed,.embed-responsive object,.embed-responsive video {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    height:100%;
    width:100%;
    border:0
}
.embed-responsive-16by9 {
    padding-bottom:56.25%
}
.embed-responsive-4by3 {
    padding-bottom:75%
}
.well {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.05)
}
.well blockquote {
    border-color:#ddd;
    border-color:rgba(0,0,0,0.15)
}
.well-lg {
    padding:24px;
    border-radius:6px
}
.well-sm {
    padding:9px;
    border-radius:3px
}
.close {
    float:right;
    font-size:21px;
    font-weight:bold;
    line-height:1;
    color:#000;
    text-shadow:0 1px 0 #fff;
    opacity:.2;
    filter:alpha(opacity=20)
}
.close:hover,.close:focus {
    color:#000;
    text-decoration:none;
    cursor:pointer;
    opacity:.5;
    filter:alpha(opacity=50)
}
button.close {
    padding:0;
    cursor:pointer;
    background:transparent;
    border:0;
    -webkit-appearance:none
}
.modal-open {
    overflow:hidden
}
.modal {
    display:none;
    overflow:hidden;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1050;
    -webkit-overflow-scrolling:touch;
    outline:0
}
.modal.fade .modal-dialog {
    -webkit-transform:translate(0, -25%);
    -ms-transform:translate(0, -25%);
    -o-transform:translate(0, -25%);
    transform:translate(0, -25%);
    -webkit-transition:-webkit-transform 0.3s ease-out;
    -moz-transition:-moz-transform 0.3s ease-out;
    -o-transition:-o-transform 0.3s ease-out;
    transition:transform 0.3s ease-out
}
.modal.in .modal-dialog {
    -webkit-transform:translate(0, 0);
    -ms-transform:translate(0, 0);
    -o-transform:translate(0, 0);
    transform:translate(0, 0)
}
.modal-open .modal {
    overflow-x:hidden;
    overflow-y:auto
}
.modal-dialog {
    position:relative;
    width:auto;
    margin:10px;
    height:100%;
}
.modal-content {
    position:relative;
    background-color:#fff;
    border:1px solid #999;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:6px;
    -webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);
    box-shadow:0 3px 9px rgba(0,0,0,0.5);
    background-clip:padding-box;
    outline:0;
    height: 95%;
    display: flex;
    flex-direction: column;
}
.modal-backdrop {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;
    background-color:#000
}
.modal-backdrop.fade {
    opacity:0;
    filter:alpha(opacity=0)
}
.modal-backdrop.in {
    opacity:.5;
    filter:alpha(opacity=50)
}
.modal-header {
    padding:13px;
    border-bottom:1px solid #e5e5e5;
    max-height: 70px;
    height: 70px;
    min-height: 70px;
    flex: 0 0 70px;
}
.modal-header .close {
    margin-top:-2px
}
.modal-title {
    font-size:20px;
    color:#1e1e1e;
    margin:0;
    line-height:1.42857143
}
.modal-body {
    position:relative;
    padding:0px 10px 0px 10px;
    overflow-y: hidden;
}
.modal-footer {
    padding:15px;
    text-align:right;
    border-top:1px solid #e5e5e5
    border-radius:0 0 8px 8px;
}

.modal-scrollbar-measure {
    position:absolute;
    top:-9999px;
    width:50px;
    height:50px;
    overflow:scroll
}
.container-fluid {
    margin-right:auto;
    margin-left:auto;
    padding-left:5px;
    padding-right:5px
}
.row {
    margin-left:-5px;
    margin-right:-5px
}
.row-big {
    margin-left:-5px;
    margin-right:-12px
}
.col-sm-12 {
    width: 100%;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position:relative;
    min-height:1px;
    padding-left:5px;
    padding-right:5px
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float:left
}
.col-xs-12 {
    width:100%
}
.col-xs-11 {
    width:91.66666667%
}
.col-xs-10 {
    width:83.33333333%
}
.col-xs-9 {
    width:75%
}
.col-xs-8 {
    width:66.66666667%
}
.col-xs-7 {
    width:58.33333333%
}
.col-xs-6 {
    width:50%
}
.col-xs-5 {
    width:41.66666667%
}
.col-xs-4 {
    width:33.33333333%
}
.col-xs-3 {
    width:25%
}
.col-xs-2 {
    width:16.66666667%
}
.col-xs-1 {
    width:8.33333333%
}
.col-xs-pull-12 {
    right:100%
}
.col-xs-pull-11 {
    right:91.66666667%
}
.col-xs-pull-10 {
    right:83.33333333%
}
.col-xs-pull-9 {
    right:75%
}
.col-xs-pull-8 {
    right:66.66666667%
}
.col-xs-pull-7 {
    right:58.33333333%
}
.col-xs-pull-6 {
    right:50%
}
.col-xs-pull-5 {
    right:41.66666667%
}
.col-xs-pull-4 {
    right:33.33333333%
}
.col-xs-pull-3 {
    right:25%
}
.col-xs-pull-2 {
    right:16.66666667%
}
.col-xs-pull-1 {
    right:8.33333333%
}
.col-xs-pull-0 {
    right:auto
}
.col-xs-push-12 {
    left:100%
}
.col-xs-push-11 {
    left:91.66666667%
}
.col-xs-push-10 {
    left:83.33333333%
}
.col-xs-push-9 {
    left:75%
}
.col-xs-push-8 {
    left:66.66666667%
}
.col-xs-push-7 {
    left:58.33333333%
}
.col-xs-push-6 {
    left:50%
}
.col-xs-push-5 {
    left:41.66666667%
}
.col-xs-push-4 {
    left:33.33333333%
}
.col-xs-push-3 {
    left:25%
}
.col-xs-push-2 {
    left:16.66666667%
}
.col-xs-push-1 {
    left:8.33333333%
}
.col-xs-push-0 {
    left:auto
}
.col-xs-offset-12 {
    margin-left:100%
}
.col-xs-offset-11 {
    margin-left:91.66666667%
}
.col-xs-offset-10 {
    margin-left:83.33333333%
}
.col-xs-offset-9 {
    margin-left:75%
}
.col-xs-offset-8 {
    margin-left:66.66666667%
}
.col-xs-offset-7 {
    margin-left:58.33333333%
}
.col-xs-offset-6 {
    margin-left:50%
}
.col-xs-offset-5 {
    margin-left:41.66666667%
}
.col-xs-offset-4 {
    margin-left:33.33333333%
}
.col-xs-offset-3 {
    margin-left:25%
}
.col-xs-offset-2 {
    margin-left:16.66666667%
}
.col-xs-offset-1 {
    margin-left:8.33333333%
}
.col-xs-offset-0 {
    margin-left:0
}

.sse_modal .close:focus {
    outline:none
}
.sse_modal .modal-fullwidth {
    width:auto;
    margin:20px 30px
}
.sse_modal .con_title {
    line-height:36px;
    font-size:21.6px;
    font-weight:normal;
    display:none
}
.sse_modal .con_title .icon {
    height:36px;
    width:36px;
    float:left;
    background:50% 50% no-repeat
}
.sse_modal .con_title .icon_pdf,.sse_modal .con_title .icon_word {
    -webkit-background-size:17px 18px;
    background-size:17px 18px;
    background-image:url("img/ui/icon-word.png")
}
.sse_modal .con_title .icon_pdf {
    background-image:url("img/ui/icon-pdf.png");
    margin-top:-5px
}
.sse_modal .con_tips_area {
    overflow:hidden
}
.sse_modal .con_subtips,.sse_modal .con_subdate {
    font-size:12px;
    line-height:20px;
    color:#777
}
.sse_modal .con_subtips {
    padding-bottom:10px
}
.sse_modal .has_icon .con_subtips,.sse_modal .has_icon .con_subdate {
    padding-left:36px
}
.sse_modal .download_and_feedback {
    overflow:hidden
}
.sse_modal .download_and_feedback .modal_feedback {
    float:left;
    line-height:34px;
    font-size:14px;
    vertical-align:middle
}
.sse_modal .download_and_feedback .modal_feedback .glyphicon {
    display:none;
    margin-top:3px
}
.sse_modal .pdfdownloadlink {
    margin-left:20px;
    float:right
}
.sse_modal .close_pdf {
    opacity:.7
}
.sse_modal .close_pdf:hover {
    outline:none;
    opacity:1
}
.sse_modal .close_pdf .pdfclose {
    margin-left:10px;
    background:#b6b7b7;
    border-color:#b6b7b7;
    float:right
}
.sse_modal .download_and_feedback {
    background:0 50% no-repeat;
    background-image:url("img/layout/ui-modal-fb-bgfonts.png") !important;
    padding-left:197px
}
.pdf-modal-date {
    margin-bottom:0;
    color:#666666;
    display: inline;
    line-height: 2.8;
}
.sse_modal .close:focus {
    outline:none
}
.sse_modal .modal-fullwidth {
    width:auto;
    margin:20px 30px
}
.sse_modal .con_title {
    line-height:36px;
    font-size:21.6px;
    font-weight:normal;
    display:none
}
.sse_modal .con_title .icon {
    height:36px;
    width:36px;
    float:left;
    background:50% 50% no-repeat
}
.sse_modal .con_title .icon_pdf,.sse_modal .con_title .icon_word {
    -webkit-background-size:17px 18px;
    background-size:17px 18px;
    background-image:url("img/ui/icon-word.png")
}
.sse_modal .con_title .icon_pdf {
    background-image:url("img/ui/icon-pdf.png");
    margin-top:-5px
}
.sse_modal .con_tips_area {
    overflow:hidden
}
.sse_modal .con_subtips,.sse_modal .con_subdate {
    font-size:12px;
    line-height:20px;
    color:#777
}
.sse_modal .con_subtips {
    padding-bottom:10px
}
.sse_modal .has_icon .con_subtips,.sse_modal .has_icon .con_subdate {
    padding-left:36px
}
.sse_modal .download_and_feedback {
    overflow:hidden
}
.sse_modal .download_and_feedback .modal_feedback {
    float:left;
    line-height:34px;
    font-size:14px;
    vertical-align:middle
}
.sse_modal .download_and_feedback .modal_feedback .glyphicon {
    display:none;
    margin-top:3px
}
.sse_modal .pdfdownloadlink {
    margin-left:20px;
    float:right
}
.sse_modal .close_pdf {
    opacity:.7
}
.sse_modal .close_pdf:hover {
    outline:none;
    opacity:1
}
.sse_modal .close_pdf .pdfclose {
    margin-left:10px;
    background:#b6b7b7;
    border-color:#b6b7b7;
    float:right
}
.sse_modal .download_and_feedback {
    background:0 50% no-repeat;
    background-image:url("img/layout/ui-modal-fb-bgfonts.png") !important;
    padding-left:197px
}

.con_prvdate {
    padding-left:20px;
    position:relative
}
.con_prvdate .toggleBar {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:10px;
    background-color:#e7e9eb
}
.con_prvdate .toggleBar .togglebtn {
    display:block;
    position:absolute;
    width:100%;
    height:80px;
    left:0;
    top:50%;
    margin-top:-45px;
    background:50% 50% no-repeat;
    /*background-color:#1467b3;*/
    cursor:pointer
}
.con_prvdate .toggleBar .togglebtn.open {
    background-image:url(img/layout/push_r.png);
}
.con_prvdate .toggleBar .togglebtn.close {
    background-image:url(img/layout/push_l.png);
    float:none;
    font-size:medium;
    font-weight:bold;
    line-height:1;
    color:#000;
    text-shadow:none;
    opacity:1
}
.con_prvdate .conp_block_1{
    background-color: #f1f1f1;
    height: 58px;
}
.con_prvdate .conp_block_1 .dt_table_1 {
    width:100%
}
.con_prvdate .conp_block_1 .dt_table_1 td {
    padding:5px 15px 0px 15px;
    vertical-align:middle;
    /*background-color:#f5f5f5*/
}
.con_prvdate .conp_block_1 .dt_table_1 .title,.con_prvdate .conp_block_1 .dt_table_1 .number1,.con_prvdate .conp_block_1 .dt_table_1 .number2,.con_prvdate .conp_block_1 .dt_table_1 .number3 {
    display:inline-block;
    width:91%;
    margin:auto;
    line-height: 20px;
}
.con_prvdate .conp_block_1 .dt_table_1 .title {
    font-size:20px;
    color:#1e1e1e
}
.con_prvdate .conp_block_1 .dt_table_1 .number1 {
    font-size:14px;
    color:#999;
    padding-top:10px
}
.con_prvdate .conp_block_1 .dt_table_1 .number2 {
    font-size:24px;
    font-weight:bold;
    color:#545454
}
.con_prvdate .conp_block_1 .dt_table_1 .number3 {
    font-size:24px;
    line-height:24px
}
.con_prvdate .conp_block_1 .dt_table_1 .number3 .icons {
    display:inline-block;
    font-family:'Glyphicons Halflings';
    font-style:normal;
    vertical-align:top;
    font-size:0;
    height:24px;
    line-height:24px;
    width:20px;
    overflow:hidden
}
.con_prvdate .conp_block_1 .dt_table_1 .up {
    color:#f94744
}
.con_prvdate .conp_block_1 .dt_table_1 .up .icons {
    font-size:20px
}
.con_prvdate .conp_block_1 .dt_table_1 .down {
    color:#29a457
}
.con_prvdate .conp_block_1 .dt_table_1 .down .icons {
    font-size:20px;
    text-indent:-20px
}
.con_prvdate .conp_block_1 .dt_table_1 .tdleft {
    text-align:left
}
.con_prvdate .conp_block_1 .dt_table_1 .tdright {
    text-align:right
}
.con_prvdate .conp_block_1 .dt_table_2 {
    width:100%;
    margin-top:10px;
    border-collapse:collapse
}
.con_prvdate .conp_block_1 .dt_table_2 .tdleft,.con_prvdate .conp_block_1 .dt_table_2 .tdright {
    width:50%;
    text-align:center;
    padding:0 10px
}
.con_prvdate .conp_block_1 .dt_table_2 .tdleft .title,.con_prvdate .conp_block_1 .dt_table_2 .tdright .title {
    font-size:12px;
    color:#434343
}
.con_prvdate .conp_block_1 .dt_table_2 .tdleft .nums .num1,.con_prvdate .conp_block_1 .dt_table_2 .tdright .nums .num1 {
    font-size:30px;
    color:#214e77
}
.con_prvdate .conp_block_1 .dt_table_2 .tdleft .nums .num2,.con_prvdate .conp_block_1 .dt_table_2 .tdright .nums .num2 {
    font-size:12px;
    color:#434343
}
.con_prvdate .conp_block_1 .dt_table_2 .tdleft {
    border-right:solid 1px #f3f3f3
}
.con_prvdate .conp_block_2 {
    padding-top:10px;
    overflow:hidden
}
.con_prvdate .conp_block_3 {
    overflow:hidden
}
.con_prvdate .conp_block_3 .conp_show_img_wrap {
    text-align:center
}
.con_prvdate .conp_block_3 .conp_show_img_wrap img {
    vertical-align:top;
    width:100%;
    max-height:400px
}
.close_sselist span:before {
    content:"x";
    font-size:17px;
    padding-right:3px
}
.close_sselist {
    font-size:15px
}
.sse_table_T05 {
    margin-bottom:10px;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box
}
.sse_table_T05 .table {
    margin-bottom:0;
    border:1px solid #eaeaea
}
.sse_table_T05 .table tbody tr th {
    font-weight:normal;
    color:#666;
    background:#f5f5f5;
    border-right:1px solid #eaeaea;
    padding-left:16px;
    width:48%
}
.sse_table_T05 .table tbody tr td {
    color:#666;
    font-size:12px;
    border-left:1px solid #eaeaea;
    padding-left:18px
}
.sse_table_T05 .table .align_right {
    text-align:right
}
.sse_table_T05 .table .align_center {
    text-align:center
}
.sse_table_T05 .table .align_left {
    text-align:left
}
.sse_table_T01 .table tbody tr td>a {
    text-decoration:underline
}
.sse_table_T01 .table tbody tr th .sm-fz {
    font-size:12px;
    font-weight:normal
}
.sse_table_T01 .table tbody tr .table_right {
    text-align:right
}
.sse_table_title1 {
     text-align:right;
     padding-right:5px;
     padding:9px 5px 6px 0;
     margin:0
 }
.sse_table_title1 p {
    font-size:12px;
    line-height:28px;
    color:#898989;
    margin:0
}
.sse_table_2 {
    margin-bottom:10px;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box
}
.sse_table_2 .table {
    margin-bottom:0;
    border:1px solid #eaeaea
}
.sse_table_2 .table tbody tr th {
    color:#3d3d3d;
    background:#e2e2e2
}
.sse_table_2 .table tbody tr th i.fgrey {
    display:inline-block;
    color:#b8b8b8
}
.sse_table_2 .table tbody tr th i.fred {
    display:inline-block;
    color:#fa4f61
}
.sse_table_2 .table tbody tr td {
    color:#3d3d3d;
    font-size:12px;
    border-left:1px solid #eaeaea
}
.sse_table_2 .table tbody tr.greybg td {
    background-color:#eee
}
.sse_table_4 {
    margin-bottom:10px;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box
}
.sse_table_4 .table {
    margin-bottom:0;
    border:1px solid #eee
}
.sse_table_4 .table tbody tr.greybg td {
    background:#f5f5f5
}
.sse_table_4 .table tbody tr th {
    font-size:14px;
    color:#666;
    background:#e2e2e2;
    padding-left:10px;
    text-align:center;
    font-weight:bold
}
.sse_table_4 .table tbody tr th.w37 {
    width:37px
}
.sse_table_4 .table tbody tr th i {
    display:inline-block;
    font-size:12px;
    color:#3d3d3d;
    font-style:normal;
    font-weight:normal
}
.sse_table_4 .table tbody tr td {
    color:#666;
    font-size:14px;
    border-left:1px solid #eee;
    text-align:center
}
.sse_table_4 .table tbody tr td.w37 {
    width:37px;
    padding-left:11px;
    padding-right:11px
}
.sse_table_4 .table tbody tr td i {
    display:inline-block;
    font-size:12px;
    font-style:normal
}
.sse_table_4 .table tbody tr td i.fblue {
    color:#337ab7
}
.sse_table_4 .table tbody tr td i.fyellow {
    color:#e48d11
}
.sse_table_4 .table tbody tr td i.fred {
    color:#d9534f
}
.sse_table_4 .table tbody tr td i.ftarl {
    font-family:'Arial'
}
.sse_table_4 .table tbody tr td.ftr {
    text-align:right;
    padding-right:10px
}
.sse_table_infor {
    padding-top:15px;
    padding-bottom:50px;
    padding-left:0
}
.sse_table_infor p {
    font-size:12px;
    line-height:24px;
    color:#999;
    display:inline-block
}
.sse_table_infor em {
    display:inline-block;
    height:24px;
    font-size:12px;
    line-height:24px;
    color:#fff;
    text-align:center;
    font-style:normal;
    padding:0 5px
}
.sse_table_infor em.bluebg {
    background-color:#337ab7
}
.sse_table_infor em.yellowbg {
    background-color:#f0ad4e
}
.sse_table_infor em.redbg {
    background-color:#d9534f
}
.sse_table_5 {
    overflow:auto;
    padding:0 10px;
    margin:0 0 10px
}
.sse_table_5 .fixedTable {
    border:1px solid #eaeaea
}
.sse_table_5 .fixedTable tr th {
    background-color:#e2e2e2;
    font-size:14px;
    color:#3d3d3d;
    text-align:center;
    vertical-align:middle;
    white-space:nowrap;
    padding:8px
}
.sse_table_5 .fixedTable tr td {
    background-color:#fff;
    padding:8px;
    border:1px solid #eaeaea;
    text-align:center;
    vertical-align:middle;
    font-size:12px;
    color:#7e7e7e;
    white-space:nowrap
}
.sse_table_5 .fixedTable tr i {
    font-style:normal
}
.sse_con_tit {
    padding-left:10px;
    padding-right:10px;
    padding-top:6px;
    background:#fff
}
.sse_con_tit h2 {
    margin-top:0;
    margin-bottom:0;
    width:100%;
    font-weight:bold;
    font-size:18px;
    color:#434343;
    height:48px;
    line-height:48px;
    border-bottom:1px solid #d9d9d9
}
.page-con-table {
    clear:both;
    height:auto;
    margin:0;
    padding:0;
    text-align:center
}
.table-page.page-con {
    display:inline-block;
    text-align:center;
    margin:15px auto 15px
}
.table-page.page-con .pagination {
    margin:0 18px 0 0
}
.table-page.page-con .pagination li>a>span {
    display:inline-block;
    width:12px;
    height:12px;
    *height:9px
}
.table-page.page-con .pagination li>a>span.page-prev {
    *height:17px;
    background:url(img/layout/page-prev.png) no-repeat center
}
.table-page.page-con .pagination li>a>span.page-next {
    *height:17px;
    background:url(img/layout/page-next.png) no-repeat center
}

.sseicon-icon_more:before {
    content:url(img/layout/arrow1.png);
}
.sseicon-icon_more:hover {
    content:url(img/layout/arrow2.png);
}
.sse_title_common a,.sse_title_1 a,.sse_subtitle_1 a {
    color:#8f8f8f;
    float:right;
    overflow:hidden;
    text-decoration:none;
    font-size:18px
}
.sse_title_common i,.sse_title_1 i,.sse_subtitle_1 i {
    display:inline-block;
    cursor:pointer;
    position:relative;
    top:2px
}
.sse_title_common {
    background:#fff
}
.sse_title_common h2 {
    border-bottom:1px solid #ddd;
    font-weight:bold;
    font-size:18px;
    color:#1e1e1e;
    margin-top:0;
    line-height:23px;
    margin-bottom:0;
    padding-bottom:7px
}
.sse_title_common h2 span {
    margin-top:5px;
    height:20px;
    line-height:20px;
    font-size:12px;
    font-weight:normal;
    color:#898989
}
.sse_title_common h2 span:last-child {
    border-right:1px solid #ddd;
    margin-right:10px;
    padding-right:10px
}
.sse_title_common h2 span strong {
    color:#de0c30
}
.sse_title_common h2 i.sseicon-icon_prompt .sse_table_tit_box {
    font-weight:normal;
    font-style:normal;
    line-height:18px;
    z-index:10;
    position:absolute;
    top:42px;
    left:-99px;
    width:350px;
    height:auto;
    color:#fff;
    background:#b5b5b5;
    padding:20px;
    border-radius:3px;
    font-size:12px;
    display:none
}
.sse_title_common h2 i.sseicon-icon_prompt .sse_table_tit_box b {
    z-index:11;
    position:absolute;
    top:-20px;
    left:98px;
    width:0;
    height:0;
    border-bottom:10px solid #b5b5b5;
    border-left:10px solid transparent;
    border-top:10px solid transparent;
    border-right:10px solid transparent
}
.sse_title_common h2 i.sseicon-icon_prompt:hover {
    color:#f03245
}
.sse_title_common h2 i.sseicon-icon_prompt:hover .sse_table_tit_box {
    display:block
}
.sse_list_1 dl dd a:hover,.sse_list_3 ul li a:hover,.sse_list_5 ul li a:hover,.sse_list_4 ul li a:hover,.sse_home_in_list1 ul li a:hover span,.fast-nav-conment .sse_home_in_list3 ul li a:hover,.sse_footer .ft_quick_links dl .links:hover,.sse_footer .ft_quick_links dl dt a:hover {
    text-decoration:none
}
.sse_footer .ft_quick_links dl .links:hover,.sse_footer .ft_quick_links dl dt a:hover {
    color:#337ab7
}
.sse_list_1 {
    margin-right:10px;
    background:#fff
}
.sse_list_1 dl dd {
    margin-left: -5px;
    line-height: 26px;
    padding:0 0 3px 15px;
    border-bottom:1px solid #f5f5f5;
    background:url(img/layout/arrow_down.png) 5px 10px no-repeat;
    overflow:hidden
}
.sse_list_1 dl dd .left-fixed-width {
    font-style:normal
}
.sse_list_1 dl dd a i {
    display:inline-block;
    font-style:normal
}
.sse_list_1 dl dd a i img {
    display:inline-block;
    margin-top:-3px;
    margin-left:2px
}
.sse_list_1 dl dd a:link {
    color:#202020;
    text-decoration:none
}
.sse_list_1 dl dd a:hover {
    color:#1164af
}
.sse_list_1 dl dd a:active {
    color:#202020
}
.sse_list_1 dl dd span {
    color:#666666;
    font-size:13px;
    float:right;
    margin:0 3px 0 9px
}
.sse_list_1 dl dd a {
    color:#1e1e1e;
    font-size:14px;
    cursor:pointer;
    display:block;
}
.sse_list_1.sse_list_1_rightcol a {
    display:inline-block;
    width:100%
}
.sse_list_1 .modal_pdf_list dd {
    padding:10px 0 6px 9px;
    line-height:24px;
    background-image:none
}
.sse_list_1 .modal_pdf_list dd:hover,.sse_list_1 .modal_pdf_list dd.hover {
    background-color:#f5f5f5
}
.sse_list_1 .modal_pdf_list dd a,.sse_list_1 .modal_pdf_list dd span {
    font-size:14px
}
.sse_list_1 .modal_pdf_list dd a {
    color:#333
}
.sse_list_1 .modal_pdf_list dd a:hover {
    color:#0975bb
}
.sse_list_1 .modal_pdf_list dd span {
    margin:0 3px 0 20px;
    color:#ccc
}
