

<!DOCTYPE html>
<html lang="zh">
<head>
<title></title>
</head>
<body>
	<div class="wrapper">
		<div class="google-header-bar  centered" style="height: 60px">
			<div class="header content clearfix">
			</div>
		</div>
		<div class="main content clearfix">
			<div class="main-content no-name " style="height: 502px">
				<div ng-if="vm.view==0" class="card signin-card pre-shift no-name" style="height: 420px ;position: fixed; top: 0px; right: 0px;  left: 0px; bottom: 0px; margin: auto;">
					<div id="cc_iframe_parent"></div>
					<div class="circle-mask" style="">
					</div>
					<form novalidate  id="gaia_loginform">
						<div class="form-panel second " >
							<div style="text-align: center;">
								<div>
									<p id="profile-name"></p>
									<span dir="ltr" id="email-display"></span>
								</div>
								<div>
									<div id="password-shown">
										<div>
										     <h2  class="banner" translate="N005120"> 首次登录，请完善企业信息并修改密码</h2>
										     <P style="font-size: 14px;color: #262626; margin: -5px 0 15px;font-weight: bold; text-align: left;" translate="N005129" translate="N004445" translate-values="{loginName:vm.UserinfoRegister.vcLoginName}"> 登录帐号 : {{vm.UserinfoRegister.vcLoginName}}</P>
										     <!-- 
											<label class="hidden-label" for="Email">登录帐号</label> <input
												id="Email" name="Email" type="Email" placeholder="登录帐号" ng-model="vm.item.selusers"
												class="">
										      -->
										</div>
										<!-- 
										<div>
										 -->
										<!-- 
											<label class="hidden-label" for="Passwd">机构名称（中文）</label> <input 
												id="username" name="username" type="userName" placeholder="{{'N005121' | translate}}" ng-model="vm.UserinfoRegister.vcCompanyName" validator="required"
												class="">
										 -->
										 <!-- 
											<P style="font-size: 14px;color: #262626; margin: 5px 0 15px;font-weight: bold; text-align: left;" > 机构名称 : {{vm.UserinfoRegister.vcCompanyName}}</P>	
										</div>
										<div>
										  -->
										<!-- 
											<label class="hidden-label" for="Passwd">统一社会信用代码</label> <input
												id="username" name="username" type="userName" placeholder="{{'N005114' | translate}}" ng-model="vm.UserinfoRegister.vcCreditCode"
												class="">
										 -->
										 <!-- 
										 <P style="font-size: 14px;color: #262626; margin: 5px 0 15px;font-weight: bold; text-align: left;"  > 统一社会信用代码 : {{vm.UserinfoRegister.vcCreditCode}}</P>	
										</div>
										  -->
										<div>
											<label class="hidden-label" for="Passwd">新密码</label> <input
												id="Passwd" name="Passwd" type="password" placeholder="{{'N005122' | translate}}" ng-model="vm.UserinfoRegister.vcSecretPassword" validator="required"
												class="">
										</div>
										<div>
											<label class="hidden-label" for="Passwd">确认新密码</label> <input
												id="Passwd" name="Passwd" type="password" placeholder="{{'N005123' | translate}}" ng-model="vm.UserinfoRegister.qdvcSecretPassword" validator="required"
												class="">
										</div>
										<div>
											<label class="hidden-label" for="Passwd">手机号</label> <input
												id="username" name="username" type="userName" placeholder="手机号" ng-model="vm.UserinfoRegister.telephone"
												class="">
										</div>
										<div>
										   <span >
											<label class="hidden-label" for="Passwd">手机动态密码</label> <input style="width: 63% ;float:left;margin-top: 0px;"
												id="sjs" name="username" type="username" placeholder="手机动态密码" ng-model="vm.UserinfoRegister.sjs"
												class=""> 
												<input id="signIn1" name="signIn1" style="width: 28%;margin-top: -30px; border: 1px solid #ff7418; background: #ff7418;position: absolute;top: 296px;left: 280px;"  class=" rc-button rc-button-submit"  ng-click="vm.sendsms()" type="submit" value="点击获取动态密码">
										  </span>
										</div>
									</div>
								</div>
								<input id="signIn" name="signIn" class="rc-button rc-button-submit" type="submit" style="margin-top: 21px;" ng-click="vm.submit(vm.UserinfoRegister)" value="{{'N001208' | translate}}">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
